<div class="content-wrapper">
  <div class="row">
    <div class="col-md-4 stretch-card grid-margin">
      <div class="card bg-gradient-danger card-img-holder text-white">
        <div class="card-body">
          <img
            src="/images/dashboard/circle.svg"
            class="card-img-absolute"
            alt="circle-image"
          />
          <h4 class="font-weight-normal mb-3">
            Number of Projects
            <i class="mdi mdi-library-books mdi-24px float-right"></i>
          </h4>
          <h2 class="mb-5"><%= projects %></h2>
          <h6 class="card-text">Increased by 60%</h6>
        </div>
      </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
      <div class="card bg-gradient-info card-img-holder text-white">
        <div class="card-body">
          <img
            src="/images/dashboard/circle.svg"
            class="card-img-absolute"
            alt="circle-image"
          />
          <h4 class="font-weight-normal mb-3">
            Number of Issues Open
            <i class="mdi mdi-bug mdi-24px float-right"></i>
          </h4>
          <h2 class="mb-5"><%= openIssues %></h2>
          <h6 class="card-text">Decreased by 10%</h6>
        </div>
      </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
      <div class="card bg-gradient-success card-img-holder text-white">
        <div class="card-body">
          <img
            src="/images/dashboard/circle.svg"
            class="card-img-absolute"
            alt="circle-image"
          />
          <h4 class="font-weight-normal mb-3">
            Number of Closed Issues
            <i class="mdi mdi-close-octagon mdi-24px float-right"></i>
          </h4>
          <h2 class="mb-5"><%= closedIssues %></h2>
          <h6 class="card-text">Increased by 5%</h6>
        </div>
      </div>
    </div>
  </div>
</div>
