<script src="/js/custom/project.js"></script>
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Create a new project</h4>
    
    <p class="card-description">
      A repository contains all project files, including the revision history.
      Already have a project repository elsewhere?
    </p>
    <hr />
    <p class="text-secondary text-small">
      Required fields are marked with an asterisk
      <span class="text-danger">(*)</span>.
    </p>
    <form class="forms-sample" method="post" action="/project/store">
      <div class="form-group">
        <label for="ownerName">Owner Name <span class="text-danger">*</span></label>
        <input type="text" name="author" class="form-control" id="ownerName" placeholder="owner name" required/>
      </div>
      <div class="form-group">
        <label for="projectName">Project Name <span class="text-danger">*</span></label>
        <input type="text" name="project" class="form-control" id="projectName" placeholder="project name" required/>
      </div>
      <div class="form-group">
        <label for="description">Description <span class="text-danger">*</span></label>
        <textarea name="description" class="form-control" id="description" cols="15" rows="5" required></textarea>
      </div>
      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label">
            <i class="mdi mdi-book-variant text-secondary"></i>
            <input type="radio" class="form-check-input" name="project_type" id="public" onclick="getRepoType('public')" value="public" required/>
            Public
          </label>
          <span class="text-secondary text-small ml-5">Anyone on the internet can see this repository. You choose who
            can
            commit.</span>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            <i class="mdi mdi-lock text-secondary"></i>
            <input type="radio" class="form-check-input" onclick="getRepoType('private')"  name="project_type" id="private" value="private" required/>
            Private
          </label>
          <span class="text-secondary text-small ml-5">You choose who can see and commit to this repository.</span>
        </div>
      </div>
      <hr />
      <div class="form-group">
        <h4 class="text-secondary">Initialize this repository with:</h4>
        <div class="form-check form-check-flat form-check-primary">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="readme_file" />Add a README file
          </label>
          <span class="text-secondary text-small ml-5">This is where you can write a long description for your project. <a href="https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-readmes">Learn more about READMEs.</a></span>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check form-check-flat form-check-primary">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="gitignore" />Add .gitignore
          </label>
        <span class="text-secondary text-small ml-5">Choose which files not to track from a list of templates. <a href="https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files">Learn more about ignoring files.</a></span>
        </div>

      </div>
      <div class="form-group">
        <span class="text-secondary text-small"><i class="mdi mdi-information text-secondary"></i> You are creating a <em class="repo_type">public</em> repository in your personal account.</span>
      </div>
      
      <button type="submit" class="btn btn-gradient-primary me-2">
        Create Project
      </button>
      <button type="button" class="btn btn-light">Cancel</button>
    </form>
  </div>
</div>